body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: pink;
    color: black;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #E769A8;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    background-color: #BA4E84;
    color: white;
    padding: 5px;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
}